.add {
  color:white;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}

.add-title {
  display: flex;
  align-self: center;
  font-size: 100px;
  margin-top: 8vh;
}

.add-label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
}

.add-label {
  margin: 10px 0;
}

.add-input {
  width: 40vw;
  background-color: lightgray;
}

.add-button {
  margin: 15px;
  align-self: center;
}