body {
  background-image: url("https://imgur.com/Ze3lQRu.png");
  background-color: black;
  background-repeat: repeat;
  background-size: cover;

}

html {
  scroll-behavior:smooth;
  font-family: 'Playfair Display', serif;
}