#about-me{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin: 5vw;
  color: white;
}


.about-me {
  display: flex;
  justify-content: flex-start;
  margin: 9vh 5vw;
  font-size: 7rem;
}


.brand-statement-outer {
  margin: 5vh;
}


.brand-statement {
  margin-left: 5vw;
  width: 50vw;
  font-size: 36px;
}

.skills-outer {
  width: 90vw;
  margin: 50px;
}
.my-skills {
  font-size: 5rem;
  margin: 4vh 5vw;
}
.skills {
  width: 6vw;
  margin: .4vw;
}

.skills-container {
  margin-left: 5vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}