#landing {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 50px;
  margin-top: 20px;
  margin-left: 70px;
  color: white;
  font-size: 6rem;
}


.greeting {
  animation: span 3s 1s forwards;
  opacity: 0;
}

@keyframes span {
  from {
    opacity: 0;
  } 


  to {
    opacity: 1;
  }
  
}

.greeting1 {
  animation: greeting 3s 2s forwards;
  opacity: 0;
}




@keyframes greeting {
  from {
    opacity: 0;
  } 


  to {
    opacity: 1;
  }
  
}




@media only screen and (max-width: 428px) {
  #landing {
    margin: 0 auto;
    align-items: center;
  }
  
  .intro {
    font-size: 50px;
    margin-left: 15px;
  }
}


 @media only screen and (min-width: 1600px) {
  #landing {
    font-size: 8rem;
  }
} 


@media only screen and (min-width: 2560px) and (min-height: 1440px) {
  #landing{
    font-size: 11rem;
  }
}



