#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  padding-top: 7vh;
  margin: 5vw;
}


#my-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  height: 40vh;
  align-items:  center;
  justify-content: space-evenly;
}

.projects-title {
  display: flex;
  justify-content: flex-start;
  margin: 0 5vw;
  margin-bottom: 6vh;
  font-size: 6rem;
  width: 70vw;
}

.project-img {
  width: 24vw;
  z-index: 1;
}


.project {
  padding: 2vh;
  margin: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(115, 2, 2, 0.3);
}
.buttons {
  text-align: center;
  margin-top: 1vh;
}


@media only screen and (max-width: 428px) {
  #projects {
    padding-top: 55px;
    margin: 0;
  }

  .projects-title {
    font-size: 50px;
  }


  .project-img {
    width: 60vw;
    justify-self: center;
  }

  .buttons {
    font-size: 10px;
  }

  .project {
    width: 60vw;
  }

}